#resultats {
    background-color: black;
}

.google-calendrier {
    top: 1.5vw;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.google-calendrier iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.calendrier {
    background-color: black;
}

#calendrier {
    height:100px;
    width:100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

@media all and (min-width: 1000px){

    #resultats {
        margin-top: 80px;
    }

}