/* CSS RESET Source: http://cssreset.com/scripts/eric-meyer-reset-css/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	      content: '';
	      content: none;
          }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Fin CSS RESET */

/* centrer la page */

#container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* font universel pour le site */
html {
    font-family: 'Roboto', sans-serif;
}

.carousel {
    height:100px;
    width:100px;
    border-radius:5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, Arial, Sans-Serif;
    margin-right:5px;
}

#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
}

body {
    background: #FFF;
    margin: 0;
    padding: 0;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}


.slide1 {background: red;}
.slide2 {background: blue;}
.slide3 {background: green;}
.slide4 {background: purple;}
.slide5 {background: pink;}

#bloc_page
{
    width: 900px;
    margin: auto;
}

#header, #content ,#footer {
    padding: 2% ;
}

br {
    margin: 1%;
}

/*Barre de navigation Debut*/
#nav {
    margin: 0 ;
    padding: 0 ;
    font-size: 1.55vw;
    font-weight: bold;
    font-family: roboto, verdana, arial, sans-serif ;
    list-style: none ;
}

#nav li {
    display: inline ;
    margin: 0 1.30% ;
}

#nav a { 
    color: #323232 ;
    text-decoration: none ; 
}

#nav a:hover {
    color: #f00;
}
/*Barre de navigation Fin*/



/*Reseaux sociaux Debut*/
#reseaux ul {
    list-style-type: none ;
    margin: 0;
}

#reseaux li{
    float: right ;
    margin-left: 0.4%;
}

#reseaux a {
    
    display: block ;
    text-decoration: none ;
    background: url(../../Data/social-sprite.png) no-repeat ;
    background-size: 96%;
    padding: 25px 0px 0px 25px ;  
}

#reseaux #fb{        
    background-position:0 -275px;
}

#reseaux #twitter{        
    background-position:0 -50px;
} 

#reseaux #it{        
    background-position:0 -150px;
}

#reseaux #insta{        
    background-position:0 -175px;
}

#reseaux #yt{        
    background-position:0 0;
}
/*Reseaux sociaux Fin*/

/* Autres éléments du header*/
.insa {
    margin: 0 1.5% 0.7% 63%;
    float:right;
    font-family: roboto, verdana, arial, sans-serif ;
    font-size:0.95vw;
    font-weight: bold;
}

.separateur {
    float:right;
    margin: -5px 10px 0;
}

.logo_as{
    float:left;
    margin-right: 13%;
    margin-left: 4%;
    max-width: 9%;
}


/*Barre de recherche Debut*/
input {
    float:right;
}

input[type="text"] {
    background: #EEEDEB;
    border-style:none;
    padding: 0.5%;
    max-width: 23%;
    width:100%;
    height: 100%;
}

input[type="submit"] {
    background: url(../../Data/loupe.png) no-repeat ;
    margin: 2px 0px 0px 5px;
    width: 30px;
    height: 25px;
    border-style:none;
    cursor: pointer;
}
/*Barre de recherche Fin*/

/*Fin du Header*/

#rugby_team
{
    position: relative;
    background: url('../../Data/images/rugby_team1.jpg');
    width: 960px;
    margin-top:15px;
    margin-bottom:25px;
    height:600px;
    border-radius: 5px;
}
#description
{
    position: absolute;
    list-style-type: none;
    bottom:1px;
    padding-bottom: 10px;
    padding-left:130px;
    border-radius: 0px 0px 5px 5px;
    width: 86.5%;
    height: 33px;
    color: white;
    font-size: 2em;
    background-color: rgba(24,24,24,0.8);
}
.Team
{
    height: 25px;
    position: absolute;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;

}
.Team:hover
          {
	      text-decoration: underline;
	      color: red;
	      opacity: 0.8;
          }

#img_sports
{
    position: relative;
    width:860px;
    height:800px;
    min-width: 430px;
    min-height: 400px;
    margin-left:auto;
}

#nos_sports {
    background-color: red;
}



/* Note de Kimi : TRES MAUVAIS POUR LE REFERENCEMENT*/
h1 {
    color:white;
    position: relative;
    text-align:center;
    font-size: 2em;
    padding: 2%;
    margin-top: 20px;
}

#Facebook
{
    background-color: #3b5998; /*#6d84b4*/
    width: 100%;
}
/* Note de Kimi : TRES MAUVAIS POUR LE REFERENCEMENT*/
section article h2
{
    text-align: center;
    font-weight: bold; 
}

#partenaires_logo
{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.actia
{
    position: relative;
    margin-top: 25px;
    opacity: 0.6;
}

.viveris
{
    position: relative;
    bottom: 10px;
    opacity: 0.6;
}

.assystem, .lesaffre, .alten
{
    opacity: 0.6;
}

.assystem:hover, .lesaffre:hover, .alten:hover, .actia:hover, .viveris:hover
{
    opacity: 1;
}

footer
{
    background-color: rgba(20,20,20,0.8);
    width:100%;
}

footer ul
{
    list-style-type: none;
    text-align: center;
    padding: 2%;
}

/* menu horizontal */
footer ul li {
    margin: auto;
    text-align: center;
    display: inline;
    padding: 4px;
}

footer nav a
{
    font-size: 1.2em;
    color:#FFFFFF;
    text-decoration: none;
    padding: 0;
}


footer nav a:hover
{
    border-bottom: 3px solid red;
}

#mentions
{
    color:white;
    text-align: center;
    clear: both;
    padding: 1%;
    font-size: 0.8em;
}

#bottomcontainer {
    overflow: hidden;
}

#secpart {
    padding: 2%;
}