.carousel {
  height:100px;
  width:100px;
  border-radius:5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-family: Verdana, Arial, Sans-Serif;
  margin-right:5px;
}

#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}


.slide1 {background: red;}
.slide2 {background: blue;}
.slide3 {background: green;}
.slide4 {background: purple;}
.slide5 {background: pink;}
