#resultats {
    background-color: black;
}


.contact{
    padding-bottom: 1px;
    padding-top: 30px;
}

.contact a{
    color: red;
}
.mini-container {
    height: 270px;
    background-color:  white;
    width: 100% ;   

    border-spacing: 17px ;
}


#as_contact_container{
    width: 70%;
    padding: 35px;
    margin: 0 auto;
    overflow: hidden;
    color:#B3B3B3
}



.listesports td{
    font-size: 20px;
    margin : auto;
    background-color: white;	
    margin: 45px auto;
    border-collapse:collapse;
    border-color: #737373;
    border-width:1px;
    border-style:solid; 
    padding: 12px;
}

.listesports th{
    background-color: #777;
    color: white;
    padding: 7px;
}

#entetecontact{
    height: 75px;
    width: 100%;
}

#title{
    background-color: #434343;
    width: 55%;
    float: left;
    box-shadow: 1px 2px 12px #434343;
}

#entetetxt{
    margin: 7px;
}

.contactfb{
    background-color: #2F56A8;
    margin-left: 55px;
    font-size: 2vw;
    width: 30%;
    float: left;
    color: white;
    text-align: center;
}

.contactfbportable{
    width: 30%;
    float: left;
    text-align: center;
}

#arrowbuttonfb{
    padding: 9px;
}

/*Responsive*/
@media all and (min-width: 1000px){ /*Ordi*/
    /*Header*/
    .menu-portable,.menu-tablette,.menu-hamburger,#ascodebanniereportable,#textportable,.contactfbportable,.btn-navigation{display: none}
 
    #resultats {
        margin-top: 70px;
    }

    /*Bannière bureau AS*/
    #bureau_as_title{
	font-size: 2.5vw;
	margin: 15px 250px 25px
    }

    #bureau_as_text{
	margin: 25px 250px 35px;
	font-size: 1.5vw;
    }
    
}
@media all and (min-width: 720px)and (max-width: 1000px){ /*Tablette*/
    .menu-portable,.menu-ordi,.menu-hamburger,#ascodebanniereportable,#textportable,.contactfbportable,.btn-navigation{display: none}

    /*Bannière bureau AS*/
    #bureau_as_title{
	font-size: 5vw;
	margin-bottom: 35px;
    }

    #bureau_as_text{
	font-size: 2.5vw;
	margin-right: 220px;
    }
    #aslogobanniere{display: none;}
    
}
@media all and (max-width: 720px){ /*Portable*/
    /*Header*/
    .menu-ordi,.menu-tablette,#bureau_as_title,#bureau_as_text,#ascodebanniere,#aslogobanniere,.contactfb{display: none;}
    .menu-portable, .menu-hamburger{display: inline;}
    input[type="submit"] {margin: 22px 0px 0px 5px;}
    
    /*Bannière bureau AS*/
    #textportable{ 
	   font-size: 34px;		
	   text-align: center;
	   margin-bottom: 10px;
    }
    #as_contact_container{padding: 15px;}
    #ascodebanniereportable{
	   display: block;
	   margin-left: auto;
	   margin-right: auto;
    }
    #autres_contacts{
        width: 200px;
        text-align: center;
        padding-top: 5%;
        margin: auto;
    }
    #autres_contacts a {
        text-decoration: none;
        margin: auto;
    }
}


#cdesaps a {
    text-decoration: none;
    margin: auto;
}

#cdesaps {

    width: 200px;
    text-align: center;
    padding-top: 5%;
    margin: auto;
    font-size: 200%;
    color: black;
}

#autres_contacts {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 5%;
}

#autres_contacts a {
    margin: auto;
    display: inline-flex;
}

#autres_contacts a img {
    width: 200px;
    height: 190px;
}

#p_autres_contacts {
    text-align: center;
    font-size: 200%;
    margin-bottom: 5%;
    margin-top: 4%;
}



#sitemap td{
	border: none;
}

#sitemap a:hover{
	color: red;
}

#sitemap a{
	text-decoration: none;
}
