/* CSS RESET Source: http://cssreset.com/scripts/eric-meyer-reset-css/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	      content: '';
	      content: none;
          }

body {
    background: #FFF;
    margin: 0;
    padding: 0;
    line-height: 1;
}

/* Fin CSS RESET */

/* centrer la page */

#container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* font universel pour le site */
html {
    font-family: 'Roboto', 'Oswald', sans-serif;
}

#header, #content ,#footer {
    padding: 2% ;
}

/*Barre de navigation Debut*/
#nav {
	margin-top: 40px;
	padding: 0;
	font-size: 30px;
	font-weight: bold;
	font-family: roboto, 'Oswald', verdana, arial, sans-serif ;
	list-style: none ;
	text-align: center;
}

#nav li {
    display: inline ;
    margin: 0 1.30% ;
}

#nav a { 
    color: #323232 ;
    text-decoration: none ; 
}

#nav a:hover {
    color: #f00;
}
/*Barre de navigation Fin*/


/*Reseaux sociaux Debut*/
#reseaux {margin-top:10px;}
#reseaux ul {
    list-style-type: none ;
    margin: 0;
}

#reseaux li{
    float: right ;
    margin-left: 0.4%;
}

#reseaux a {
    display: block ;
    text-decoration: none ;
    background: url(../../Data/social-sprite.png) no-repeat ;
    background-size: 96%;
    padding: 25px 0px 0px 25px ;  
}

#reseaux #fb{background-position:0 -275px;}
#reseaux #twitter{background-position:0 -50px;} 
#reseaux #it{background-position:0 -150px;}
#reseaux #insta{background-position:0 -175px;}
#reseaux #yt{background-position:0 0;}
/*Reseaux sociaux Fin*/

/* Autres éléments du header*/
.insa {
	float:right;
	font-size: 18px;
	font-family: roboto, 'Oswald', verdana, arial, sans-serif ;
	font-weight: bold;
	margin-right: 20px;
}

.separateur {
    float:right;
    margin: -5px 10px 0;
}

.logo_as{
    float:left;
		margin-left: 20px;
		margin-bottom: 30px;
}

.logo_asbis{
    float:left;
		margin-bottom: 2%;
}

.menu-respo{
	float:right;
	margin: 25px 0px 0px 10px;
}

/*Barre de recherche Debut*/
input[type="text"] {
    background: #EEEDEB;
    border-style:none;
    padding: 5px;
 /*   max-width: 20%;*/
    width:100%;
    height: 100%;
}

input[type="submit"] {
    background: url(../../Data/loupe.png) no-repeat ;
		margin: 2px 0px 0px 5px;
    width: 150px;
    height: 25px;
    border-style:none;
    cursor: pointer;
	
}

#boxsearch{
float: right;
margin-top: -17px;
	width: 25%;
}

/*Barre de recherche Fin*/

/*Fin du Header*/


h1 {
    color:white;
    position: relative;
    text-align:center;
    font-size: 60px;
	padding: 20px;
	padding-bottom: 0;
}
main{
	margin: 0 auto;
	width: 80%;
}
.contact{
	background-color: #434343;
	padding-bottom: 1px;
	padding-top: 30px;
}

.contact a{
	color: red;
}
.mini-container {
	height: 270px;
	background-image: url(../../Data/bg%20contact%20as.png);
	background-color:  white;
  width: 100% ;   

	border-spacing: 17px ;
}


#as_contact_container{
	width: 70%;
	padding: 35px;
  margin: 0 auto;
	
  overflow: hidden;
	color:#B3B3B3
}


.contact table {
	font-size: 20px;
	margin : auto;
	background-color: white;	
	margin: 45px auto;
	border-collapse:collapse;
}


.listesports td{
	border-color: #737373;
	border-width:1px;
	border-style:solid; 
	padding: 12px;
}

.listesports th{
	background-color: #777;
	color: white;
	padding: 7px;
}

#entetecontact{
	height: 75px;
	width: 100%;
}

#title{
	background-color: #434343;
	width: 55%;
	float: left;
	box-shadow: 1px 2px 12px #434343;
}

#entetetxt{
	margin: 12px;
}

.contactfb{
	background-color: #2F56A8;
	margin-left: 30px;
	font-size: 1.55vw;
	width: 30%;
	float: left;
	color: white;
	text-align: center;
}

.contactfbportable{
	width: 30%;
	float: left;
	text-align: center;
}

#arrowbuttonfb{
	    padding: 9px;
}
#partenaires_logo{
    display: flex;
    flex-wrap: wrap;
}
.actia{
    position: relative;
    margin-top: 25px;
    opacity: 0.6;
}
.viveris{
    position: relative;
    bottom: 10px;
    opacity: 0.6;
}
.assystem, .lesaffre, .alten{opacity: 0.6;}
.assystem:hover, .lesaffre:hover, .alten:hover, .actia:hover, .viveris:hover{opacity: 1;}

footer
{
    background-color: #434343;
    width:100%;
    display: table;
    height: 1px;
}

footer ul
{
    list-style-type: none;
    text-align: center;
    padding: 2%;
}

/* menu horizontal */
footer ul li {
    margin: auto;
    text-align: center;
    display: inline;
}

/*Ligne avec copyright et auteur*/
#mentions{
    color:white;
    text-align: center;
    clear: both;
    padding: 1%;
    font-size: 0.8em;
}
#mentions li::after{
    content: "•";
    margin: 0 6px 0 8px;
}
#mentions li.last::after{
    content: " ";
}
#mentions a {
    text-decoration: none;
    color: white;
}
#mentions a:hover {
    text-decoration: none;
    color: red;
}

/*Responsive*/
@media all and (min-width: 1000px){ /*Ordi*/
	/*Header*/
		.menu-portable,.menu-tablette,.menu-hamburger,#ascodebanniereportable,#textportable,.contactfbportable,.btn-navigation{display: none}
	
		/*Bannière bureau AS*/
		#bureau_as_title{
			font-size: 2.5vw;
			margin: 15px 250px 25px
		}

		#bureau_as_text{
			margin: 25px 250px 35px;
			font-size: 1.5vw;
		}
	
	/*Footer*/
    .clear {clear: both ;} 
    .row p.clear{padding-top: 0;}
    .row br{margin:0;}
    .row{
        height: auto;
        margin: auto ;
        padding-top: 20px ;
        width: 980px
    }
    .row div{
        float: left ;
        margin-left: 20px ;
    }
    .Colonne1,.Colonne2 {width: 370px ; }
    
    .row h4, .row p, .Colonne2 a{
        color: #FFF;
        margin-top: 0 ;
        padding: 10px 20px;
        line-height: 18px;
        text-decoration: none;
    }
    .row h4 {font-size: 18px ;}
    .row p,.Colonne2 a {font-size: 12px ;}  
   
}
@media all and (min-width: 720px)and (max-width: 1000px){ /*Tablette*/
		/*Header*/
		.menu-portable,.menu-ordi,.menu-hamburger,#ascodebanniereportable,#textportable,.contactfbportable,.btn-navigation{display: none}
		#nav {
			font-size: 22px;
	}
	
		/*Bannière bureau AS*/
		#bureau_as_title{
			font-size: 5vw;
			margin-bottom: 35px;
		}

		#bureau_as_text{
			font-size: 2.5vw;
			margin-right: 220px;
		}
		#aslogobanniere{display: none;}
	
		/*Footer*/
    .clear {clear: both ;}
    .row p.clear{padding-top: 0;}
    .row br{margin:0;}
    .row{
        height: auto;
        margin: auto ;
        padding-top: 20px ;
        width: 500px
    }
    .row div{
        width: 100% ; 
        margin-bottom: 20px;
    }
    .row h4, .row p, .Colonne2 a{
        color: #FFF;
        margin-top: 0 ;
        padding: 10px 20px;
        line-height: 18px;
        text-align: justify ;
    }   
    .row h4 {font-size: 18px ;}
    .row p,.Colonne2 a {font-size: 12px ;}
}
@media all and (max-width: 720px){ /*Portable*/
		/*Header*/
		.menu-ordi,.menu-tablette,#bureau_as_title,#bureau_as_text,#ascodebanniere,#aslogobanniere,.contactfb{display: none;}
		.menu-portable, .menu-hamburger{display: inline;}
		input[type="submit"] {margin: 22px 0px 0px 5px;}
	
		/*Bannière bureau AS*/
	#textportable{ 
		font-size: 34px;		
		text-align: center;
		margin-bottom: 10px;
	}
	#as_contact_container{padding: 15px;}
		#ascodebanniereportable{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

    /*Début Menu Hamburger*/
    #fullcontainer
    {
        width: auto;
        height: 100%;
    }


    .hamburger
    {
        position: fixed;
        text-align: left;
        top:0;
        right:0;
        /*left:0;*/

        background-color: rgba(85,85,85,1);
        min-width: 32%;
        width: 32%;/*100%*/

        /*text-align: center;*/
        height: 100%;
        padding: 0px 0px 0px 70px; /*0px 0px 0px 280px*/
        z-index: 19;

        transition: transform .6s ease-in-out;
        -webkit-transition: transform .6s ease-in-out;

        transform: translateX(100%);
        -webkit-transform: translateX(100%);

    }

    .hamburger.isOpen{
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        
    }

    .hamburger-overlay{
        display:none; 
        position: fixed;
        z-index: 18;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    }

    .hamburger-overlay.isOpen{
        display: block;
    }

    header nav ul
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 40px 0px 0px -67px;
        position: absolute;
        top: 50%;
        font-size: 1.7em;
        font-family: roboto, 'Oswald', verdana, arial, sans-serif ;

        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);

    }
    header nav li
    {
        padding-bottom: 10px;
        display: inline ;
        margin: 20 1.30% ;
    }

    header nav a:hover{
        border-bottom: 2px solid red;
    }

    header nav ul li:before{
        content: ' ';
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0px 10px 0px 0px;
 
    }

    header nav a:hover{
        border-bottom: 2px solid red;
    }

    .menu-hamburger nav ul li a
    {
        letter-spacing: 0.05em;
        color: #FFFFFF ;
        text-decoration: none ;
    }

    .btn-navigation{
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 20;
        cursor: pointer;
        height: 54px;
        width:54px;
        border: 2px solid white;
        border-radius:50%; /*5px 50% effet stylé*/
        color: #fff;
        
        background-color:rgba(85,85,85,0.8);

    }

    .btn-navigation .barre2{
        margin:3px 0px 3px 0px;
        -webkit-transition: transform 0.5s linear;
        transition: background 0.5s linear;

    }
    .btn-navigation .barre1,.barre2,.barre3{
        position: relative;
        top:30%;
        left:23%;

        width: 30px;
        height: 6px;
        background:#fff;
        margin-top: 0px;

        /*border-color: white;
        border-radius: 50%;*/


        transition: transform .3s;
        -webkit-transition: transform .3s;
    }

    .menu-hamburger #search-btn{
        position: absolute;
        margin: 37px 0px 0px -50px;

    }


    .btn-navigation .barre1.white{
        border-color: white;
        border-radius: 50%;


        transform: translateY(150%) rotate(225deg);
        -webkit-transform: translateY(150%) rotate(225deg);

        transition: transform .5s ;
        -webkit-transition: transform .5s ;

    }
    .btn-navigation .barre3.white{
        border-color: white;
        border-radius: 50%;


        transform: translateY(-150%) rotate(-225deg);
        -webkit-transform: translateY(-150%) rotate(-225deg);
        transition: transform .5s ;
        -webkit-transition: transform .5s ;

    }


    .btn-navigation .barre2.white{

        background: transparent;
        -webkit-transition: transform 0.5s linear;
        transition: background 0.5s linear;
    }

    input[type="submit1"] {
        background: url(../../Data/loupe1.png) no-repeat ;
        width: 23px;
        height: 20px;
        border-style:none;
        cursor: pointer;
    }
    /*Fin Menu Hamburger*/
		/*Footer*/
    .row{display: none;}

}




#secpart {
    padding: 2%;
}

#secpart img {
    margin: 20px;   
}

#secpart div {
    margin: auto;
}
