/* CSS RESET Source: http://cssreset.com/scripts/eric-meyer-reset-css/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	      content: '';
	      content: none;
          }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    background: #FFF;
    margin: 0;
    padding: 0;
    line-height: 1;
}

/* Fin CSS RESET */

/* centrer la page */

#container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* font universel pour le site */
html {
    font-family: 'Roboto', 'Oswald', sans-serif;
}

.wrapscarousel {

}

.carousel {
    height:100px;
    width:100px;
    border-radius:5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, Arial, Sans-Serif;
    margin-right:5px;
    position: relative;
}

#slider {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 600%;
    height: 0;
    padding-bottom: 50%;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 16.66%;
    height: 0;
    padding-bottom: 50%;
}

.arrows {
  background-color: black;
  color: white;
  width: 6%;
  height: 10%;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  padding: 0.5%;
  opacity: 0.8;
  z-index: 1;
  display: block;
  text-align: center;
}

.arrows p {
  font-size: 3vw;
  top: 20%;
  left: 30%;
  position: absolute;
}

#arrow-left {
  left: 15%;
}

#arrow-right {
  right: 15%;
}

.slide1 {background: red;}
.slide2 {background: blue;}
.slide3 {background: green;}
.slide4 {background: purple;}
.slide5 {background: pink;}


#header, #content ,#footer {
    padding: 2% ;
}

/*Barre de navigation Debut*/
#nav {
	margin-top: 40px;
	padding: 0;
	font-size: 30px;
	font-weight: bold;
	font-family: roboto, 'Oswald', verdana, arial, sans-serif ;
	list-style: none ;
	text-align: center;
}

#nav li {
    display: inline ;
    margin: 0 1.30% ;
}

#nav a {
    color: #323232 ;
    text-decoration: none ;
}

#nav a:hover {
    color: #f00;
}
/*Barre de navigation Fin*/


/*Reseaux sociaux Debut*/
#reseaux {margin-top:10px;}
#reseaux ul {
    list-style-type: none ;
    margin: 0;
}

#reseaux li{
    float: right ;
    margin-left: 0.4%;
}

#reseaux a {
    display: block ;
    text-decoration: none ;
    background: url(../../Data/social-sprite.png) no-repeat ;
    background-size: 96%;
    padding: 25px 0px 0px 25px ;
}

#reseaux #fb{background-position:0 -275px;}
#reseaux #twitter{background-position:0 -50px;}
#reseaux #it{background-position:0 -150px;}
#reseaux #insta{background-position:0 -175px;}
#reseaux #yt{background-position:0 0;}
/*Reseaux sociaux Fin*/

/* Autres éléments du header*/
.insa {
	float:right;
	font-size: 18px;
	font-family: roboto, 'Oswald', verdana, arial, sans-serif ;
	font-weight: bold;
	margin-right: 20px;
}

.separateur {
    float:right;
    margin: -5px 10px 0;
}

.logo_as{
    float:left;
		margin-left: 20px;
		margin-bottom: 30px;
}

.logo_asbis{
    float:left;
		margin-bottom: 2%;
}

.menu-respo{
	float:right;
	margin: 25px 0px 0px 10px;
}

/*Barre de recherche Debut*/
input {
    float:right;
}

input[type="text"] {
    background: #EEEDEB;
    border-style:none;
    padding: 5px;
    max-width: 20%;
    width:100%;
    height: 100%;
}

input[type="submit"] {
    background: url(../../Data/loupe.png) no-repeat ;
    margin: 2px 0px 0px 5px;
    width: 30px;
    height: 25px;
    border-style:none;
    cursor: pointer;
}
/*Barre de recherche Fin*/

/*Fin du Header*/

#description
{
    position: absolute;
    list-style-type: none;
    bottom:1px;
    padding-bottom: 10px;
    padding-left:130px;
    border-radius: 0px 0px 5px 5px;
    width: 86.5%;
    height: 33px;
    color: white;
    font-size: 2em;
    background-color: rgba(24,24,24,0.8);
}

#nos_sports {
    background-color: red;
}



/* Note de Kimi : TRES MAUVAIS POUR LE REFERENCEMENT*/
h1 {
    color:white;
    position: relative;
    text-align:center;
    font-size: 2em;
    padding: 2%;
    margin-top: 20px;
}

#Facebook
{
    background-color: #3b5998; /*#6d84b4*/
    width: 100%;
}
/* Note de Kimi : TRES MAUVAIS POUR LE REFERENCEMENT*/
section article h2
{
    text-align: center;
    font-weight: bold;
}

#partenaires_logo
{
    display: flex;
    flex-wrap: wrap;
}

.actia
{
    position: relative;
    margin-top: 25px;
    opacity: 0.6;
}

.viveris
{
    position: relative;
    bottom: 10px;
    opacity: 0.6;
}

.assystem, .lesaffre, .alten{opacity: 0.6;}
.assystem:hover, .lesaffre:hover, .alten:hover, .actia:hover, .viveris:hover{opacity: 1;}

footer
{
    background-color: rgba(20,20,20,0.8);
    width:100%;
    display: table;
    height: 1px;
}

footer ul
{
    list-style-type: none;
    text-align: center;
    padding: 2%;
}

/* menu horizontal */
footer ul li {
    margin: auto;
    text-align: center;
    display: inline;
}

/*Ligne avec copyright et auteur*/
#mentions{
    color:white;
    text-align: center;
    clear: both;
    padding: 1%;
    font-size: 0.8em;
}
#mentions li::after{
    content: "•";
    margin: 0 6px 0 8px;
}
#mentions li.last::after{
    content: " ";
}
#mentions a {
    text-decoration: none;
    color: white;
}
#mentions a:hover {
    text-decoration: none;
    color: red;
}

/*Responsive*/
@media all and (min-width: 1000px){ /*Ordi*/
	/*Header*/
		.menu-portable,.menu-tablette{display: none}

	/*Footer*/
    .clear {clear: both ;}
    .row p.clear{padding-top: 0;}
    .row br{margin:0;}
    .row{
        height: auto;
        margin: auto ;
        padding-top: 20px ;
        width: 980px
    }
    .row div{
        float: left ;
        margin-left: 20px ;
    }
    .Colonne1,.Colonne2 {width: 370px ; }

    .row h4, .row p, .Colonne2 a{
        color: #FFF;
        margin-top: 0 ;
        padding: 10px 20px;
        line-height: 18px;
        text-decoration: none;
    }
    .row h4 {font-size: 18px ;}
    .row p,.Colonne2 a {font-size: 12px ;}

}
@media all and (min-width: 720px)and (max-width: 1000px){ /*Tablette*/
		/*Header*/
		.menu-portable,.menu-ordi{display: none}
		#nav {
			font-size: 22px;
	}
		/*Footer*/
    .clear {clear: both ;}
    .row p.clear{padding-top: 0;}
    .row br{margin:0;}
    .row{
        height: auto;
        margin: auto ;
        padding-top: 20px ;
        width: 500px
    }
    .row div{
        width: 100% ;
        margin-bottom: 20px;
    }
    .row h4, .row p, .Colonne2 a{
        color: #FFF;
        margin-top: 0 ;
        padding: 10px 20px;
        line-height: 18px;
        text-align: justify ;
    }
    .row h4 {font-size: 18px ;}
    .row p,.Colonne2 a {font-size: 12px ;}
}
@media all and (max-width: 720px){ /*Portable*/
		/*Header*/
		.menu-ordi,.menu-tablette{display: none;}
		.menu-portable{display: inline;}
		input[type="submit"] {margin: 22px 0px 0px 5px;}
		/*Footer*/
    .row{display: none;}
}




#secpart {
    padding: 2%;
}

#secpart img {
    margin: 20px;
}

#secpart div {
    margin: auto;
}

#pluginFB2 {
    margin: auto;
    display: block;
}

#FacebookWrap {
    background-color: rgba(20,20,20,0.8);
}
