/* CSS RESET Source: http://cssreset.com/scripts/eric-meyer-reset-css/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
          content: '';
          content: none;
          }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    background: #FFF;
    margin: 0;
    padding: 0;
    line-height: 1;
}

/* Fin CSS RESET */

/* centrer la page */

#container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* font universel pour le site */
html {
    font-family: 'Roboto', 'Oswald', sans-serif;
}

#header, #content ,#footer {
    padding: 2% ;
}

/*Barre de navigation Debut*/
#nav {
    margin-top: 40px;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    font-family: roboto, 'Oswald', verdana, arial, sans-serif ;
    list-style: none ;
    text-align: center;
}

#nav li {
    display: inline ;
    margin: 0 1.30% ;
}

#nav a {
    color: #323232 ;
    text-decoration: none ;
}

#nav a:hover {
    color: #f00;
}
/*Barre de navigation Fin*/


/*Reseaux sociaux Debut*/
#reseaux {margin-top:10px;}
#reseaux ul {
    list-style-type: none ;
    margin: 0;
}

#reseaux li{
    float: right ;
    margin-left: 0.4%;
}

#reseaux a {
    display: block ;
    text-decoration: none ;
    background: url(../../Data/social-sprite.png) no-repeat ;
    background-size: 96%;
    padding: 25px 0px 0px 25px ;
}

#reseaux #fb{background-position:0 -275px;}
#reseaux #twitter{background-position:0 -50px;}
#reseaux #it{background-position:0 -150px;}
#reseaux #insta{background-position:0 -175px;}
#reseaux #yt{background-position:0 0;}
/*Reseaux sociaux Fin*/

/* Autres éléments du header*/
.insa {
    float:right;
    font-size: 18px;
    font-family: roboto, 'Oswald', verdana, arial, sans-serif ;
    font-weight: bold;
    margin-right: 20px;
}

.separateur {
    float:right;
    margin: -5px 10px 0;
}

.logo_as{
    float:left;
        margin-left: 20px;
        margin-bottom: 30px;
}

.logo_asbis{
    float:left;
        margin-bottom: 2%;
}

.menu-respo{
    float:right;
    margin: 25px 0px 0px 10px;
}

/*Barre de recherche Debut*/
input {
    float:right;
}

input[type="text"] {
    background: #EEEDEB;
    border-style:none;
    padding: 5px;
    max-width: 20%;
    width:100%;
    height: 100%;
}

input[type="submit"] {
    background: url(../../Data/loupe.png) no-repeat ;

    width: 30px;
    height: 25px;
    border-style:none;
    cursor: pointer;
}

.recherche #search-btn{
    margin: 3px 12px 0px 6px;
}
/*Barre de recherche Fin*/



/*Fin du Header*/




/********************************************************Galerie**********************************************************/
.resultats {
    height:100px;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#resultats {
    background-color: black;
    background-image: url(../../Data/bulle.png);
}

.resultats section {
  padding-left: 2em;
}

section article h3{
    font-size: 2em;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 2em 1em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
  margin-right: -5em;
  left: 5em;
}

.row {
  width: inherit;
  display: flex;
  justify-content: space-between;
  left: -em;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  margin-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-bottom: 50px;
  width: 90%;
  max-width: 1200px;
}

.mySlides {
  height: inherit;
}

.mySlides img {
  height: 10%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 2%;
  right: 2%;
  width: 5%;
  height: 5%;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 10%;
  height: 10%;
  padding: 16px;
  margin-top: -50px;
  color: white;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

figure img:hover {
  cursor: pointer;
}

figcaption a{
    text-decoration: none;
    float: right;
    color: rgb(117,117,117);
}

figcaption a:hover{
    color: red;
}
figcaption a:after{
    content: ' ';
    color: rgb(117,117,117);
    background-image: url(../../Data/images/arrowright.png); /*300 x 300*/
    display: inline-block;
    background-repeat: no-repeat;
    background-position:center;
    width: 30px;
    height:14px;
}
figcaption a:hover::after{
    background-image: url(../../Data/images/arrowright_hover.png); /*300 x 300*/
}


/********************************************************Fin Galerie**********************************************************/



/* Note de Kimi : TRES MAUVAIS POUR LE REFERENCEMENT*/
h1 {
    color:white;
    position: relative;
    text-align:center;
    font-size: 2em;
    padding: 2%;
    margin-top: 20px;
    z-index: 1;
}


/* Note de Kimi : TRES MAUVAIS POUR LE REFERENCEMENT*/
section article h2
{
    text-align: center;
    font-weight: bold;
}

#partenaires_logo
{
    display: flex;
    flex-wrap: wrap;
}

.actia
{
    position: relative;
    margin-top: 25px;
    opacity: 0.6;
}

.viveris
{
    position: relative;
    bottom: 10px;
    opacity: 0.6;
}

.assystem, .lesaffre, .alten{opacity: 0.6;}
.assystem:hover, .lesaffre:hover, .alten:hover, .actia:hover, .viveris:hover{opacity: 1;}

footer
{
    background-color: rgba(20,20,20,0.8);
    width:100%;
    display: table;
    height: 1px;
}

footer ul
{
    list-style-type: none;
    text-align: center;
    padding: 2%;
}

/* menu horizontal */
footer ul li {
    margin: auto;
    text-align: center;
    display: inline;
}

/*Ligne avec copyright et auteur*/
#mentions{
    color:white;
    text-align: center;
    clear: both;
    padding: 1%;
    font-size: 0.8em;
}
#mentions li::after{
    content: "•";
    margin: 0 6px 0 8px;
}
#mentions li.last::after{
    content: " ";
}
#mentions a {
    text-decoration: none;
    color: white;
}
#mentions a:hover {
    text-decoration: none;
    color: red;
}

/*Responsive*/
@media all and (min-width: 1000px){ /*Ordi*/
    /*Header*/
    .menu-portable,.menu-tablette,.menu-hamburger,.btn-navigation{display:none;}

    /*Footer*/
    .clear {clear: both ;}
    .row p.clear{padding-top: 0;}
    .row br{margin:0;}
    .row{
        height: auto;
        margin: auto ;
        padding-top: 20px ;
        width: 980px
    }
    .row div{
        float: left ;
        margin-left: 20px ;
    }
    .Colonne1,.Colonne2 {width: 370px ; }

    .row h4, .row p, .Colonne2 a{
        color: #FFF;
        margin-top: 0 ;
        padding: 10px 20px;
        line-height: 18px;
        text-decoration: none;
    }
    .row h4 {font-size: 18px ;}
    .row p,.Colonne2 a {font-size: 12px ;}

}
@media all and (min-width: 720px)and (max-width: 1000px){ /*Tablette*/
    /*Header*/
    .menu-portable,.menu-ordi,.menu-hamburger,.btn-navigation{display:none;}
    #nav {
        font-size: 22px;
    }

    /*Footer*/
    .clear {clear: both ;}
    .row p.clear{padding-top: 0;}
    .row br{margin:0;}
    .row{
        height: auto;
        margin: auto ;
        padding-top: 20px ;
        width: 500px
    }
    .row div{
        width: 100% ;
        margin-bottom: 20px;
    }
    .row h4, .row p, .Colonne2 a{
        color: #FFF;
        margin-top: 0 ;
        padding: 10px 20px;
        line-height: 18px;
        text-align: justify ;
    }
    .row h4 {font-size: 18px ;}
    .row p,.Colonne2 a {font-size: 12px ;}
}

@media all and (max-width: 720px){ /*Portable*/
/*Header*/
    .menu-ordi,.menu-tablette{display:none;}
    .menu-portable, .menu-hamburger,.btn-navigation{display: inline;}
    input[type="submit"] {margin: 22px 0px 0px 5px;}

    .recherche #search-btn{margin: 25px 12px 0px 6px;}
/*Début Menu Hamburger*/
    #fullcontainer
    {
        width: auto;
        height: 100%;
    }

    .hamburger
    {
        position: fixed;
        text-align: left;
        top:0;
        right:0;
        /*left:0;*/

        background-color: rgba(85,85,85,1);
        min-width: 32%;
        width: 32%;/*100%*/
        /*text-align: center;*/
        height: 100%;
        padding: 0px 0px 0px 70px; /*0px 0px 0px 280px*/
        z-index: 19;

        transition: transform .6s ease-in-out;
        -webkit-transition: transform .6s ease-in-out;

        transform: translateX(100%);
        -webkit-transform: translateX(100%);

    }

    .hamburger.isOpen{
        transform: translateX(0%);
        -webkit-transform: translateX(0%);

    }

    .hamburger-overlay{
        display:none;
        position: fixed;
        z-index: 18;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    }

    .hamburger-overlay.isOpen{
        display: block;
    }

    header nav ul
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 40px 0px 0px -67px;
        position: absolute;
        top: 50%;
        font-size: 1.7em;
        font-family: roboto, 'Oswald', verdana, arial, sans-serif ;

        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);

    }
    header nav li
    {
        padding-bottom: 10px;
        display: inline ;
        margin: 20 1.30% ;
    }

    header nav a:hover
    {
        border-bottom: 2px solid red;
    }

    header nav ul li:before{
        content: ' ';
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0px 10px 0px 0px;

    }

    header nav a:hover{
        border-bottom: 2px solid red;
    }

    .menu-hamburger nav ul li a
    {
        letter-spacing: 0.05em;
        color: #FFFFFF ;
        text-decoration: none ;
    }

    .btn-navigation{
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 20;
        cursor: pointer;
        height: 54px;
        width:54px;
        border: 2px solid white;
        border-radius:50%; /*5px 50% effet stylé*/
        color: #fff;

        background-color:rgba(85,85,85,0.8);

    }

    .btn-navigation .barre2{
        margin:3px 0px 3px 0px;
        -webkit-transition: transform 0.5s linear;
        transition: background 0.5s linear;

    }
    .btn-navigation .barre1,.barre2,.barre3{
        position: relative;
        top:30%;
        left:23%;

        width: 30px;
        height: 6px;
        background:#fff;
        margin-top: 0px;

        /*border-color: white;
        border-radius: 50%;*/


        transition: transform .3s;
        -webkit-transition: transform .3s;
    }

    .menu-hamburger #search-btn{
        position: absolute;
        margin: 37px 0px 0px -50px;

    }


    .btn-navigation .barre1.white{
        border-color: white;
        border-radius: 50%;


        transform: translateY(150%) rotate(225deg);
        -webkit-transform: translateY(150%) rotate(225deg);

        transition: transform .5s ;
        -webkit-transition: transform .5s ;

    }
    .btn-navigation .barre3.white{
        border-color: white;
        border-radius: 50%;


        transform: translateY(-150%) rotate(-225deg);
        -webkit-transform: translateY(-150%) rotate(-225deg);
        transition: transform .5s ;
        -webkit-transition: transform .5s ;

    }


    .btn-navigation .barre2.white{

        background: transparent;
        -webkit-transition: transform 0.5s linear;
        transition: background 0.5s linear;
    }



    .svg.On{
        stroke-dashoffset:0;
    }
    input[type="submit1"] {
    background: url(../../Data/loupe1.png) no-repeat ;
    width: 23px;
    height: 20px;
    border-style:none;
    cursor: pointer;
    }
/*Fin Menu Hamburger*/

        /*Footer*/
    .row{display: none;}
}



#secpart {
    padding: 2%;
}

#secpart img {
    margin: 20px;
}

#secpart div {
    margin: auto;
}
