body {
    background: #FFF;
    margin: 0;
    padding: 0;
}

#header {
    height: 140px;
}
        
#header, #nav,#content ,#footer {
    padding: 25px ;
}

#nav {
    margin: 0 ;
    padding: 0 ;
    font-size: 30px;
    font-weight: bold;
    font-family: roboto, verdana, arial, sans-serif ;
    /* list-style-type: none ; /*enlève les puces*/
    list-style: none ;
}
        
#nav li {
    display: inline ;
    margin: 0 15px ;
        }

#nav a { 
    color: #323232 ;
    text-decoration: none ; 
    
}
        
#nav a:hover {
    color: #f00;
}

#reseaux ul {
 list-style-type: none ;
    margin: 5px;
}
#reseaux li{
    float: right ;
    margin-left: 5px;
}

#reseaux a {
     
    display: block ;
    text-decoration: none ;
    background: url(../Data/social-sprite.png) no-repeat ;
    padding: 25px 0px 0px 25px ;
    
}

#reseaux #fb{        
    background-position:0 -275px;
}

#reseaux #twitter{        
    background-position:0 -50px;
}
   
#reseaux #it{        
    background-position:0 -150px;
}
#reseaux #insta{        
    background-position:0 -175px;
}
#reseaux #yt{        
    background-position:0 0;
}
.recherche {
    margin-bottom: 20px;
    margin-top: 10px;
}

input {
    float:right;
}

input[type="text"] {
    background: #EEEDEB;
    border-style:none;
    padding: 5px;
    width: 255px;

}

input[type="submit"] {
    background: url(../Data/loupe.png) no-repeat ;
    margin: 2px 0px 0px 5px;
    width: 30px;
    height: 25px;
    border-style:none;

}

.insa {
    margin: 0px 25px 0px 0px;
    float:right;
    font-family: roboto, verdana, arial, sans-serif ;
    font-size:18px;
}

.separateur {
    float:right;
    margin: -5px 10px 0;
}

#container {
    width: 1174px;
    height: 563px;
    margin: auto ;
}

.mini-container {
    margin: auto ;
    background-color: #FFF;
    height: 140px;
}

.image{
    float:left;
    margin-right: 140px;
    margin-left: 35px;
    margin-bottom: 20px;
}
    

#content {
    margin: auto ;
    height: 544px;
}