<!DOCTYPE html>
<html>
  <head>
    <title>Associaton Sportive INSA Toulouse</title>
  </head>

  <link href="../../assets/scss/main.scss" rel="stylesheet" type="text/css"/>

  <body>
    <header>
      <nav>
        <img src="http://associationsportive.insa-toulouse.fr/skins/as/resources/img/logo.png"/>
        <ul>
          <li>Accueil</li>
          <li>Sports</li>
          <li>Resultats</li>
          <li>Galerie</li>
          <li>News</li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>

    <img src=""/>

  </body>

</html>
